.infoContainer{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #ffffff 41%, #a0bcbb 100%);
    color: rgb(0, 0, 0);
    margin-bottom: 100vh;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.divInfoImg{
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin-top: 6px;
}

.divInfoImg img{
    margin: 6px;
    padding: 12px;
    width: 200px;
    height: 100px;
    object-fit: contain;
}


@media only screen and (max-width: 766px){
    .infoContainer{
        width: 100%;
        height: 300px;


    }
    .info{
        text-align: center;
    }
    .divInfoImg{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 6px;
        margin-top: 6px;
    }
    .divInfoImg img{
        margin: 6px;
        padding: 8px;
        width: 120px;
        height: 60px;
        object-fit: contain;
    }
}
@media (min-width: 767px) and (max-width: 1024px) {
    .divInfoImg{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
   
    .divInfoImg img{
        margin: 3px;
        padding: 5px;
        width: 110px;
        height: 60px;
        object-fit: contain;
    }
}
@media (min-width: 1024px) and (max-width: 1366px) {
    .divInfoImg{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
   
    .divInfoImg img{
        margin: 3px;
        padding: 5px;
        width: 110px;
        height: 60px;
        object-fit: contain;
    }
  
  }